<div class="card home-content">
    <div class="card-body">
  
        <div style="text-align: center; color: #3169D4">
            <h1>ZIP Code Info</h1>
        </div>
  
        <div class="row">
            <div class="col-lg-6">
                <h3>Department:</h3>
            </div>
            <div class="col-lg-6">
                <p>{{ department.Department }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
            <h3>Municipality:</h3>
            </div>
            <div class="col-lg-6">
            <p>{{ department.Municipality }}</p>
            </div>
        </div>
      
  
        <div class="row">
            <div class="col-lg-6">
              <h3>Neighbourhood:</h3>
            </div>
            <div class="col-lg-6">
              <p>{{ department.Neighbourhood }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
              <h3>ZIP Code:</h3>
            </div>
            <div class="col-lg-6">
              <p>{{ department.zipCode }}</p>
            </div>
        </div>
    </div>
  </div>